<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD7Xn32dQ2V9PtXwfD1kRDt_Rb8cZ-Liug</string>
	<key>GCM_SENDER_ID</key>
	<string>825677889398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.amrita.home.homeIot</string>
	<key>PROJECT_ID</key>
	<string>microcontroller-iot</string>
	<key>STORAGE_BUCKET</key>
	<string>microcontroller-iot.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:825677889398:ios:9f00295f8abd268c598457</string>
	<key>DATABASE_URL</key>
	<string>https://microcontroller-iot-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>